### Import required modules

In [1]:
import pickle
import pandas as pd
from sklearn.svm import SVC 
from sklearn.naive_bayes import MultinomialNB

### Load pickled svc classifier

In [2]:
open_file = open("pickled_classifiers/svc_classifier.pickle", "rb")
svc_classifier = pickle.load(open_file)
open_file.close()

open_file = open("pickled_classifiers/mnb_classifier.pickle", "rb")
mnb_classifier = pickle.load(open_file)
open_file.close()

### Read testing data from local file

In [3]:
test_data_df = pd.read_csv('processed_data/test_data.csv', index_col=0)

In [4]:
test_data_df.head()

,Inv_Id,Vendor_Code,GL_Code,Inv_Amt,Item_Description,GL_Code_0,GL_Code_1,GL_Code_2,GL_Code_3,GL_Code_4,...,Item_Description_65,Item_Description_66,Item_Description_67,Item_Description_68,Item_Description_69,Item_Description_70,Item_Description_71,Item_Description_72,Item_Description_73,Item_Description_74
0,15003,VENDOR-2513,3,56.13,travel entertainment miscellaneous company car...,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,0,0
1,15008,VENDOR-1044,7,96.56,final site clean store construction advanced m...,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,0
2,15013,VENDOR-1254,7,55.93,arabian american development co final site cle...,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,0,0,0,0,0,0
3,15019,VENDOR-1331,0,32.62,corporate services contingent labor temp labor...,1.0,0.0,0.0,0.0,0.0,...,0,0,0,2,0,0,0,0,0,0
4,15020,VENDOR-2513,3,25.81,fortune national corp miscellaneous company ca...,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,1,1,0,0

### Predict the category for testing data

In [5]:
test_X = test_data_df.iloc[:,5:89]
pred_test_Y = svc_classifier.predict(test_X)

### Save predicted category in local csv file

In [6]:
output_array = []
for i in range(len(pred_test_Y)):
    output_array.append((test_data_df.iloc[i,0], pred_test_Y[i]))
    
output_df = pd.DataFrame(output_array, columns=['Inv_Id','Product_Category'])

output_df.set_index('Inv_Id', inplace=True)

In [7]:
output_df.to_csv('svc_predicted_category.csv')

In [8]:
output_df.shape

(2446, 1)