### Import required modules

In [1]:
import numpy as np
import pandas as pd
import nltk
import re
import pickle
from nltk.corpus import stopwords

### Read training and testing data from local files

In [2]:
train_data_df = pd.read_csv('dataset/Train.csv')
test_data_df = pd.read_csv('dataset/Test.csv')

In [3]:
train_data_df.head(10)

,Inv_Id,Vendor_Code,GL_Code,Inv_Amt,Item_Description,Product_Category
0,15001,VENDOR-1676,GL-6100410,83.24,Artworking/Typesetting Production Jun 2009 Cha...,CLASS-1963
1,15002,VENDOR-1883,GL-2182000,51.18,Auto Leasing Corporate Services Corning Inc /N...,CLASS-1250
2,15004,VENDOR-1999,GL-6050100,79.02,Store Management Lease/Rent Deltona Corp Real ...,CLASS-1274
3,15005,VENDOR-1771,GL-6101400,48.50,Store Construction General Requirements Coloni...,CLASS-1522
4,15006,VENDOR-1331,GL-2182000,63.35,Jul 2015 Aydin Corp Contingent Labor/Temp Labo...,CLASS-1376
5,15007,VENDOR-2076,GL-6101400,32.28,Final Site Clean Up 2018Mar Store Construction...,CLASS-1522
6,15009,VENDOR-1802,GL-6050310,5.38,Travel and Entertainment Miscellaneous Company...,CLASS-1758
7,15010,VENDOR-1191,GL-6101400,31.21,General Contractor General Requirements Final ...,CLASS-1522
8,15011,VENDOR-2120,GL-6100410,42.89,Aquila Distributors Inc ...,CLASS-1963
9,15012,VENDOR-1704,GL-6050100,59.50,Base Rent Store Management Chicago Rivet & Mac...,CLASS-1274

In [4]:
test_data_df.head(10)

,Inv_Id,Vendor_Code,GL_Code,Inv_Amt,Item_Description
0,15003,VENDOR-2513,GL-6050310,56.13,Travel and Entertainment Miscellaneous Company...
1,15008,VENDOR-1044,GL-6101400,96.56,Final Site Clean Up Store Construction Advance...
2,15013,VENDOR-1254,GL-6101400,55.93,Arabian American Development Co Final Site Cle...
3,15019,VENDOR-1331,GL-2182000,32.62,Corporate Services Contingent Labor/Temp Labor...
4,15020,VENDOR-2513,GL-6050310,25.81,Fortune National Corp Miscellaneous Company Ca...
5,15022,VENDOR-2513,GL-6050310,22.71,Dec2007 Fortune National Corp Miscellaneous Co...
6,15024,VENDOR-1883,GL-2182000,47.38,Auto Leasing Corporate Services Corning Inc /N...
7,15026,VENDOR-2543,GL-6020600,26.08,Taxes Taxes Mar 2014 Frischs Restaurants Inc N...
8,15027,VENDOR-1944,GL-2182000,42.76,Daly John J Auto Fleet Repair and Maintenance ...
9,15028,VENDOR-2032,GL-6100500,70.47,SMAP Media Buy - Traditional Cgg Holding (U.S....

### Define function to clean data i.e to remove punctuations and stopwords

In [5]:
def clean_description(description):
    words_array = re.sub("[^a-zA-Z]", " ", description).lower().split()
    words_array = [word for word in words_array if word not in set(stopwords.words('english'))]
    return ' '.join(words_array)

### Apply funtion defined above on 'Item Description' column as it will be used to train classifier

In [6]:
train_data_df['Item_Description'] = train_data_df['Item_Description'].apply(clean_description)
test_data_df['Item_Description'] = test_data_df['Item_Description'].apply(clean_description)

In [7]:
train_data_df.head()

,Inv_Id,Vendor_Code,GL_Code,Inv_Amt,Item_Description,Product_Category
0,15001,VENDOR-1676,GL-6100410,83.24,artworking typesetting production jun champion...,CLASS-1963
1,15002,VENDOR-1883,GL-2182000,51.18,auto leasing corporate services corning inc ny...,CLASS-1250
2,15004,VENDOR-1999,GL-6050100,79.02,store management lease rent deltona corp real ...,CLASS-1274
3,15005,VENDOR-1771,GL-6101400,48.50,store construction general requirements coloni...,CLASS-1522
4,15006,VENDOR-1331,GL-2182000,63.35,jul aydin corp contingent labor temp labor con...,CLASS-1376

### Next few code blocks are used to analyze the frequency of words in 'Item Description' column
### It will be help us to decide number of features to train our classifier

In [8]:
tokens = [description.split() for description in train_data_df['Item_Description']] 
words = [word for token in tokens for word in token]

words_set = [word for word in words]

In [9]:
freq = nltk.FreqDist(words_set)
i= 1
for key, value in freq.most_common(200):
    print(str(i) + ". " + key + " - " + str(value))
    i = i + 1

1. miscellaneous - 3036
2. company - 3013
3. car - 2996
4. field - 2996
5. inc - 2132
6. services - 2011
7. rent - 1975
8. store - 1872
9. general - 1753
10. corporate - 1728
11. transportation - 1619
12. entertainment - 1499
13. travel - 1498
14. ground - 1498
15. corp - 1468
16. labor - 1460
17. auto - 1257
18. co - 1102
19. leasing - 1078
20. real - 1055
21. estate - 1055
22. management - 1023
23. lease - 987
24. base - 987
25. construction - 904
26. smap - 899
27. requirements - 851
28. contractor - 851
29. final - 851
30. site - 851
31. clean - 851
32. maintenance - 803
33. contingent - 730
34. temp - 730
35. production - 633
36. nov - 499
37. resources - 492
38. dec - 481
39. aug - 481
40. mar - 465
41. jul - 458
42. oct - 458
43. feb - 456
44. jun - 455
45. apr - 455
46. jan - 453
47. sep - 453
48. may - 452
49. national - 430
50. media - 405
51. human - 401
52. industries - 380
53. ny - 355
54. corning - 339
55. buy - 335
56. ltd - 318
57. agency - 308
58. bd - 306
59. trust - 292
60. adr - 269
61. brother - 253
62. insurance - 240
63. comp - 232
64. artworking - 230
65. typesetting - 230
66. prototype - 230
67. packaging - 230
68. design - 230
69. traditional - 220
70. advertising - 220
71. trade - 218
72. show - 218
73. fortune - 217
74. american - 214
75. john - 213
76. power - 199
77. j - 194
78. capital - 192
79. butler - 192
80. manufacturing - 188
81. daly - 182
82. fleet - 176
83. repair - 176
84. digital - 159
85. fixtures - 159
86. fees - 154
87. commissions - 154
88. facility - 144
89. events - 137
90. promotions - 137
91. nv - 128
92. laboratories - 127
93. printed - 127
94. akzo - 126
95. nobel - 126
96. howard - 121
97. supply - 120
98. chain - 120
99. logistics - 120
100. mail - 120
101. direct - 120
102. cooper - 119
103. fort - 116
104. e - 116
105. paper - 114
106. colonial - 113
107. liquidating - 113
108. stockholders - 112
109. iii - 111
110. de - 111
111. expenses - 109
112. talent - 108
113. artists - 108
114. models - 108
115. new - 107
116. magazines - 107
117. first - 105
118. pad - 102
119. texas - 96
120. mexico - 89
121. group - 89
122. collateral - 89
123. international - 86
124. akorn - 85
125. metric - 85
126. freight - 85
127. forwarders - 84
128. charity - 84
129. organizations - 84
130. alabama - 80
131. paid - 80
132. champion - 73
133. investment - 73
134. card - 73
135. workmen - 72
136. post - 70
137. mailer - 70
138. standard - 67
139. parts - 66
140. alco - 66
141. products - 66
142. natural - 65
143. commercial - 65
144. social - 62
145. home - 62
146. outdoor - 60
147. flightsafety - 59
148. bancwest - 55
149. hi - 55
150. property - 52
151. electric - 51
152. electronics - 51
153. systems - 51
154. building - 51
155. messaging - 50
156. mobile - 50
157. ealing - 50
158. public - 47
159. distributors - 45
160. managed - 45
161. chyron - 44
162. energy - 43
163. materials - 42
164. cv - 41
165. brokerage - 39
166. erly - 39
167. aquila - 38
168. non - 38
169. development - 37
170. equipment - 37
171. america - 37
172. gas - 36
173. air - 36
174. parcel - 36
175. postage - 36
176. courier - 36
177. southwest - 36
178. benefits - 36
179. chemicals - 35
180. electro - 34
181. procurable - 34
182. adv - 33
183. corporation - 33
184. display - 32
185. catalogue - 32
186. retirement - 32
187. pension - 32
188. funds - 32
189. ddl - 32
190. catheter - 31
191. florida - 31
192. llc - 31
193. life - 30
194. allis - 30
195. chalmers - 30
196. dollar - 30
197. arabian - 30
198. search - 30
199. associates - 28
200. continental - 28

### Save the required data as training and testing respectively as pickle files

In [10]:
train_data_array= []
for i in range(len(train_data_df['Item_Description'])):
    train_data_array.append((train_data_df['Item_Description'][i], train_data_df['Product_Category'][i]))

save_train_data = open("pickled_data/train_data.pickle","wb")
pickle.dump(train_data_array, save_train_data)
save_train_data.close()

In [11]:
test_data_array= []
for i in range(len(test_data_df['Item_Description'])):
    test_data_array.append((test_data_df['Item_Description'][i], test_data_df['Inv_Id'][i]))

save_test_data = open("pickled_data/test_data.pickle","wb")
pickle.dump(test_data_array, save_test_data)
save_test_data.close()